.sidebar-nav
  .navbar.navbar-collapse(role="navigation")
    ul.nav.navbar-nav.text-center
      li.item(ng-repeat="day in navCtrl.days")
        a(ui-sref="{{day.link}}" ng-click="calendarCtrl.toggleMode()") {{day.name}}
    a.text-center.pull-right(ui-sref="signIn" ng-click="calendarCtrl.logOut()" style="padding:15px") Logout