#calendarOneDayView(ng-cloak)
  .container
    .col-sm-2.hidden-xs.left-sidebar
      nav-menu
      .filters
        h3 Filters
        ul
          li
            input(type="checkbox", id="events")
            label(for="events") Events
          li 
            input(type="checkbox", id="googleEvents")
            label(for="googleEvents") G Events
          li 
            input(type="checkbox", id="roomBooking")
            label(for="roomBooking") Rooms
          li 
            input(type="checkbox", id="deviceBooking")
            label(for="deviceBooking") Devices
          li 
            input(type="checkbox", id="bDays")
            label(for="bDays") Birthdays
      h3 Creates
      .navbar.navbar-default(role="navigation")
        ul.nav.navbar-nav.text-center
          li
            a(ui-sref=".createNewDevice" ng-click="calendarCtrl.toggleMode()") new Device
          li
            a(ui-sref=".createNewRoom" ng-click="calendarCtrl.toggleMode()") new Room
    .col-sm-10
      ui-view#calendar-content



