#calendarOneDayView(ng-cloak)
	.container
		.col-sm-2.col-md-2.left-sidebar
			.sidebar-nav
				nav.navbar.navbar-default
					.navbar-header.visible-xs
						button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="")
							| Logo
						ul.nav.pull-left.nav-filters
							li.dropdown.pull-left
								a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false")
									| Filters
									span.caret
								button(ng-click='calendarCtrl.selectAllEventType()') select all
								button(ng-click='calendarCtrl.clearAllEventType()') clear all
								ul.dropdown-menu(role="menu")
									form.form-inline
										li(ng-repeat="eventType in calendarCtrl.ollEventTypes")
											label.checkbox
												input(type="checkbox",id="eventType", ng-model = "eventType.flag", name ="{{ eventType.title }}", ng-change = "calendarCtrl.checkFlag(eventType._id)")
												span.eventTypeFilters {{ eventType.title }}
							li
								.datepicker(style="position: relative")
									button.btn.btn-default#header-pickdate
										| {{calendarCtrl.selectedDate | date: 'd EEE yyyy'}}
									date-picker.nav-datepicker(for="header-pickdate")
					#navbar.navbar-collapse.collapse
						nav-menu
						//- ul.nav.navbar-nav
						//- 	li
						//- 		a(ui-sref='.dayView' ng-click="calendarCtrl.toggleMode()") Day
						//- 	li
						//- 		a(href="#") Week
						//- 	li
						//- 		a(href="#") Month
						//- 	li
						//- 		a(ui-sref='.yearView') Year
						
			
			a.btn.btn-block.btn-social.btn-google(ng-controller='GoogleAuthController as gaCtrl'  ng-click='gaCtrl.login()')
				span.fa.fa-google 
				| Sync with Google
			.filters.hidden-xs
				h3 Filters
				button(ng-click='calendarCtrl.selectAllEventType()') select all
				button(ng-click='calendarCtrl.clearAllEventType()') clear all
				ul
					form.form-inline
						li(ng-repeat="eventType in calendarCtrl.ollEventTypes")
							label.checkbox
								input(type="checkbox",id="eventType", ng-model = "eventType.flag", name ="{{ eventType.name }}", ng-change = "calendarCtrl.checkFlag(eventType._id)")
								span.eventTypeFilters {{ eventType.title }}
			h3 CRUD
			.navbar.navbar-default(role="navigation")
				ul.nav.navbar-nav.text-center
					li
						a(ui-sref=".createNewDevice" ng-click="calendarCtrl.toggleMode()") Devices
					br
					li
						a(ui-sref=".createNewRoom" ng-click="calendarCtrl.toggleMode()") Rooms
					br
					li
						a(ui-sref=".createNewEventType" ng-click="calendarCtrl.toggleMode()") Event types
			a(ui-sref="signIn" ng-click="calendarCtrl.logOut()") Logout
		.col-sm-10
			ui-view#calendar-content
	.container_calendar_footer
		h4(align='center' style="color: blue") Press  F2 to help window.


	div(class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel")
		div(class="modal-dialog" role="document")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h2(class="modal-title" id="myModalLabel" align='center' style="color: blue") Welcome to Calendar    
				div(class="modal-body")
					h2 Today  {{calendarCtrl.selectedDate | date: 'd MMMM yyyy'}} {{calendarCtrl.selectedDate | date: 'shortTime'}} 
					h3 For creating a new event you should double-click on time in Day calendar.
					h3 
					h3 Will bee the power with us!
				div(class="modal-footer")
					h5(align='center') If you want to get out of the help window, press ESC or click on the &times.



