#dayView(ng-cloak)
  .col-sm-8.main-content#day-events-place
    table#calendar.table
      tr(ng-repeat="timeSt in dvCtrl.timeStamps")
        td.hourCell {{timeSt}}
        td.eventCell
  .col-sm-4.right-sidebar
    .row.text-center
      ul.list-inline
        li
          a(href='#')
            i.glyphicon.glyphicon-chevron-left.bigger-icon
        li 
          span {{dvCtrl.selectedDate | date: 'd EEE yyyy'}}
        li
          a(href='#')
            i.glyphicon.glyphicon-chevron-right.bigger-icon
    #showAllEvents.text-center
      input(type="checkbox", id="showEvents")
      label(for="showEvents") Show all events
      br
      button.btn.btn-primary(ng-click="dvCtrl.toggleEventInfo()") Toggle Info
    .eventInfo.well(ng-show="dvCtrl.eventSelected")
      #eventName
        strong Event name:
        br
        span {{dvCtrl.event.name}}
      #eventDescription
        strong Description:
        p {{dvCtrl.event.description}}
      #eventAuthor
        strong Created by:
        br
        span {{dvCtrl.event.author}}
      #eventRoom
        strong Room #
        span {{dvCtrl.event.room}}
      #eventParticipants
        strong Participants: 
        span.badge {{dvCtrl.event.participants}}