#dayView(ng-cloak)
	.day-header.row
		.col-md-2.col-sm-2.col-xs-2
			i.glyphicon.glyphicon-chevron-left.bigger-icon.day-prev.pull-left(class="btn btn-large btn-info"  ng-click='dvCtrl.showDay(-1)')
		//- 
		//- date-picker.sidebar-datepicker(for="pickDate")
		.col-md-8.col-sm-8.col-xs-8.text-center
			#datepicker(style="position: relative")
				a.current-day#pickDate(href='')
					span
						| {{ dvCtrl.selectedDate | date: 'd EEE yyyy' }}
				date-picker.sidebar-datepicker(for="pickDate")
		.col-md-2.col-sm-2.col-xs-2
			i.glyphicon.glyphicon-chevron-right.bigger-icon.day-next.pull-right(class="btn btn-large btn-info" ng-click='dvCtrl.showDay(1)')
	.row
		button.btn(ng-click='dvCtrl.showDate()')
			| Show vm.selectedDate
	.content-for-day
		table.day-in-table(width='100%')#calendar.table
			tbody
				tr(ng-repeat="timeSt in dvCtrl.timeStamps")
					td.hourCell {{timeSt}}
					td.eventCell(ng-dblclick="dvCtrl.showCloseModal()")
		.eventInfo.well(ng-show="dvCtrl.eventSelected")
			#eventName
				strong Event name:
				span {{dvCtrl.event.name}}
			#eventDescription
				strong Description:
				p {{dvCtrl.event.description}}
			#eventAuthor
				strong Created by:
				span {{dvCtrl.event.author}}
			#eventRoom
				strong Room #
				span {{dvCtrl.event.room}}
			#eventParticipants
				strong Participants: 
				span.badge {{dvCtrl.event.participants}}

	#showAllEvents.text-center
		.checkbox
			label
				input(type="checkbox") 
				| Show all events
	//- modal(visible='dvCtrl.modalShown' new-event-date='dvCtrl.selectedDate')