
testspan
	ul.list-inline.text-center
		li
			i.glyphicon.glyphicon-chevron-left.bigger-icon
		li
			span {{wCtrl.Start | date: 'd MMM yyyy'}} ----- {{wCtrl.End | date: 'd MMM yyyy'}}
		li
			i.glyphicon.glyphicon-chevron-right.bigger-icon			

