#weekView(ng-cloak)
  div
    .week_header
      .glyphicon.pull-left.week-chevron.glyphicon-chevron-left.bigger-icon.week_prev(ng-click='wCtrl.previous()') 
      .glyphicon.pull-right.week-chevron.glyphicon-chevron-right.bigger-icon.week_next(ng-click='wCtrl.next()')
      span.week_header_title {{wCtrl.Start | date: 'd MMM yyyy'}} - {{wCtrl.End | date: 'd MMM yyyy'}}


    .content_for_week(time-week-directive events-week-directive)
      table.week_in_table(width='100%')
        col.header(width='12,5%')
        col.days(width='12,5%' span='7')
        tr
                th.tg-month-yw4l.month-day-header 
                th.tg-month-yw4l.month-day-header Mon
                th.tg-month-yw4l.month-day-header Tue
                th.tg-month-yw4l.month-day-header Wed
                th.tg-month-yw4l.month-day-header Thu
                th.tg-month-yw4l.month-day-header Fri
                th.tg-month-yw4l.month-day-header.dayoff Sat
                th.tg-month-yw4l.month-day-header.dayoff Sun
        tr(ng-repeat="timeSt in wCtrl.timeStamps")
          td.hourCell(style = "width: 7%") {{timeSt.value}}:00
          td.eventCell.mon(ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(0, $index)', ng-click='wCtrl.goToDayViewIfMobile(0)')
          td.eventCell.tue(ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(1, $index)', ng-click='wCtrl.goToDayViewIfMobile(1)')
          td.eventcell.wed(ng-class='{{$index}}', ng-dblclick = 'wctrl.createevent(2, $index)', ng-click='wctrl.gotodayviewifmobile(2)')
          td.eventCell.thu(ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(3, $index)', ng-click='wCtrl.goToDayViewIfMobile(3)')
          td.eventCell.fri(ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(4, $index)', ng-click='wCtrl.goToDayViewIfMobile(4)')
          td.eventCell.sat(ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(5, $index)', ng-click='wCtrl.goToDayViewIfMobile(5)')
          td.eventCell.sun(ng-class='{{$index}}', ng-dblclick = 'wCtrl.createEvent(6, $index)', ng-click='wCtrl.goToDayViewIfMobile(6)')


