.room_list(ng-controller='createNewRoomController')

  .headed_room_list
    h1(align='center') Creating a new Room

  .form-group
    label.col-sm-2(for="room") title: 
    .col-sm-10
      input(type='text', class="form-control", id="room", placeholder="Enter title", ng-model='cnrCtrl.room.title')
    .dfbfdbdbdf
    label.col-sm-2(for="events" class="form-control4") events: 
    .col-sm-10
      input(type='text', class="form-control", id="events", disabled, placeholder="Enter events", ng-model='cnrCtrl.room.events')
  br

  .button-div1(align='center')
    button(ng-click='cnrCtrl.reset()') RESET
    button(ng-click='cnrCtrl.addRoom()') SAVE
  .button-div2
    h3 Quantity room: {{ cnrCtrl.rooms.length }}    
    button(ng-click='cnrCtrl.toggleViewRoom()') hide/display RoomsList

  div(align='center', ng-show='cnrCtrl.showRoomsList')
    b Search room:
    input(type='text', size='19', border='1', ng-model='cnrCtrl.search')

  table.col-sm-12.table-responsive.table-hover(border='1', ng-show='cnrCtrl.showRoomsList')
    thead
      tr
        th.col-sm-4 room title
        th.col-sm-6 events
        th.col-sm-1 change
        th.col-sm-1 delete
    tbody
      tr(ng-repeat='room in cnrCtrl.rooms | filter: cnrCtrl.search')
        td  
          input#inputRoomTitle(class="form-control", ng-model='room.title')
        td  {{ room.events }}
        td(align='center')  
          button(class="btn btn-primary" class="btn btn-primary btn-xs" ng-click='cnrCtrl.updateRoom(room)') save            
          //- a(ng-click='cnrCtrl.updateRoom(room)') save
        td(align='center')  
          button(class="btn btn-warning" class="btn btn-primary btn-xs" ng-click='cnrCtrl.deleteRoom(room, $index)') delete
          //- a(ng-click='cnrCtrl.deleteRoom(room, $index)') delete 
