.products_list(ng-controller='createNewRoomController')
  .form-group
    label.col-sm-2(for="room") room: 
    .col-sm-10
      input(type='text', class="form-control", id="room", placeholder="Enter room", ng-model='room.title')
    .dfbfdbdbdf
    label.col-sm-2(for="description" class="form-control4") description: 
    .col-sm-10
      input(type='text', class="form-control", id="description", placeholder="Enter description", ng-model='room.description')

  br
  .button-div(align='center')
    button(ng-click='reset()') RESET
    button(ng-click='addRoom()') SAVE
    button(ng-click='toggleViewRoom()') Скрыть/отобразить RoomsList


  div(align='center', ng-show='showRoomsList')
    b Поиск:
    input(type='text', size='19', border='1', ng-model='search')

  table.col-sm-12(border='1', align='center', ng-show='showRoomsList')
    thead
      tr
        td(colspan='2', align='center')
          b Oll rooms      
      tr
        td(colspan='2', align='center') Количество room: {{ rooms.length }}
      tr
        th.col-sm-4 room
        th.col-sm-8 description
    tbody
      tr(ng-repeat='room in rooms | filter: search')
        td  {{ room.title }} 
        td  {{ room.events }} 
