.room_list(ng-controller='createNewRoomController')

  .room_list_header
    h1(align='center') Creating a new Room

    .form-group
      label.col-sm-1(for="room") title: 
      .col-sm-11
        input(type='text', class="form-control", id="room", placeholder="Enter title", ng-model='cnrCtrl.room.title')
      label.col-sm-1(for="events" class="form-control4") events: 
      .col-sm-11
        input(type='text', class="form-control", id="events", disabled, placeholder="Enter events", ng-model='cnrCtrl.room.events')

    .button-div1(align='center')
      button(ng-click='cnrCtrl.reset()' class="btn btn-warning") RESET
      button(ng-click='cnrCtrl.addRoom()' class='btn btn-info') SAVE
    .button-div2
      h4 We have {{ cnrCtrl.rooms.length }} rooms.   
      button(ng-click='cnrCtrl.toggleViewRoom()') display/hide Oll Rooms
    br

  room_list_body(align='center', ng-show='cnrCtrl.showRoomsList')
    .div_search
      b Search room:
      input(type='text', size='19', border='1', ng-model='cnrCtrl.search')

    .content_for_room_list
      table.col-sm-12.table-responsive.table-hover.table.roomTable(border='1', ng-show='cnrCtrl.showRoomsList')
          tr
            th.col-sm-4 room title
            th.col-sm-6 events
            th.col-sm-1 change
            th.col-sm-1 delete
          tr(ng-repeat='room in cnrCtrl.rooms | filter: cnrCtrl.search')
            td  
              input#inputRoomTitle(class="form-control", ng-model='room.title')
            td  {{ room.events }}
            td(align='center')  
              button(class="btn btn-info btn-xs" ng-click='cnrCtrl.updateRoom(room)') save            
              //- a(ng-click='cnrCtrl.updateRoom(room)') save
            td(align='center')  
              button(class="btn btn-primary btn-xs btn-danger" ng-click='cnrCtrl.deleteRoom(room, $index)') delete
              //- a(ng-click='cnrCtrl.deleteRoom(room, $index)') delete 
