.room_list

    .room_list_header
        h1(align='center') Create a new room

        .form-group
            label.col-sm-2(for="room") Title:
            .col-sm-10
                input.form-control(type='text', id="room", placeholder="Enter title", ng-model='cnrCtrl.room.title')
            label.col-sm-2.form-control4(for="description") Description:
            .col-sm-10
                input.form-control(type='text', id="description", placeholder="Enter description", ng-model='cnrCtrl.room.description')

        .form-group
            .col-sm-offset-2.col-sm-10
                button.btn.btn-default.form-btn(ng-click='cnrCtrl.reset()') Clear form
                button.btn.btn-primary.form-btn(ng-click='cnrCtrl.addRoom()') Save
        .button-div2
            h4 Rooms: {{ cnrCtrl.rooms.length }}
            .div_search
                span.glyphicon.glyphicon-search
                input(type='text', size='19', ng-model='cnrCtrl.search', style="margin-left: 10px")
        br

    room_list_body(align='center')
        .content_for_room_list
            table.col-sm-12.table-responsive.table-hover.table.roomTable(border='1')
                tr
                    th.col-sm-4 Title
                    th.col-sm-6 Description
                    th.col-sm-1 Edit
                    th.col-sm-1 Delete
                tr(ng-repeat='room in cnrCtrl.rooms | filter: cnrCtrl.search')
                    td
                        input#inputRoomTitle.form-control(ng-model='room.title')
                    td
                        input#inputRoomDescription.form-control(ng-model='room.description')
                    td(align='center')
                        button.btn.btn-primary.btn-xs(ng-click='cnrCtrl.updateRoom(room)') save
                        //- a(ng-click='cnrCtrl.updateRoom(room)') save
                    td(align='center')
                        button.btn.btn-xs.btn-danger(ng-click='cnrCtrl.deleteRoom(room, $index)') delete
                        //- a(ng-click='cnrCtrl.deleteRoom(room, $index)') delete
