div(ng-repeat='event in day.events')
	div.month-event(uib-popover='Strating at {{event.momentStartDate.format("HH:mm")}}', popover-trigger='mouseenter', popover-title="{{event.title | limitTo: maxEventNameLength}}", ng-style="{'background-color':event.type.color}" ng-dblClick="mCtrl.editEvent(day.date, event); $event.stopPropagation();")
		div(ng-class='event.type.icon.css' ng-show='event.type.icon.css')
		{{event.title | limitTo: mCtrl.maxEventNameLength}}