div(ng-controller='MonthController')
    div.month-header
        i.glyphicon.pull-left.glyphicon-chevron-left.bigger-icon.month-chevron(class="btn btn-large btn-info" ng-click='previous()')
        span.month-header-title {{month.format("MMMM, YYYY")}}
        i.glyphicon.pull-right.glyphicon-chevron-right.bigger-icon.month-chevron(class="btn btn-large btn-info" ng-click='next()')
    div
        table.month-table-grid(width="100%")
            col(width='14.28%')
            col(width='14.28%')
            col(width='14.28%')
            col(width='14.29%')
            col(width='14.29%')
            col(width='14.29%')
            col(width='14.29%')
            tr
                th.tg-month-yw4l.month-day-header Sun
                th.tg-month-yw4l.month-day-header Mon
                th.tg-month-yw4l.month-day-header Tue
                th.tg-month-yw4l.month-day-header Wed
                th.tg-month-yw4l.month-day-header Thu
                th.tg-month-yw4l.month-day-header Fri
                th.tg-month-yw4l.month-day-header Sat
            tr(ng-repeat='week in weeks')
                td.tg-month-yw4l.month-day(ng-dblClick="showCloseModal()", ng-class="{ 'month-day-today': day.isToday, 'different-month': !day.isCurrentMonth }", ng-repeat='day in week.days') {{day.number}} 
                    div.month-event(ng-repeat='event in day.events | limitTo: (maxDisplayEventsNumber - 1)',
                        uib-popover='Strating at {{event.date.format("HH:mm")}}',
                        popover-trigger='mouseenter', popover-title="{{event.name | limitTo: maxEventNameLength}}") {{event.name | limitTo: maxEventNameLength}}
                    div.month-event(ng-show='day.events.length == maxDisplayEventsNumber') {{day.events[2]}}
                    button.btn-link.month-all-events(ng-show='day.events.length > maxDisplayEventsNumber', ng-click='showAllDayEvents(day)',
                        uib-popover-template='allDayEventsTemplateUrl', popover-trigger='focus', popover-title="Events for {{day.date.format('MMMM Do')}}") Show all&nbsp;
                        span.badge.month-badge {{day.events.length}}