div.signin-container
	.container
		form.form-signin(ng-submit='signIn()', name="signInForm", novalidate='')
			h2.form-signin-heading Please sign in
			input#signInUsername.form-control(type='text', name="username", placeholder='Username', ng-model='user.username', required='')
			input#signInPassword.form-control(type='password', name='password' placeholder='Password', ng-model='user.password', required='')
			button.btn.btn-primary.pull-right(type='submit', ng-disabled='signInForm.$invalid') Sign In
			button.btn.pull-left(ui-sref='home') Back
			.sign-up.text-center
				p
					| Sign up 
					a(ui-sref='signUp')
						| here