.device_list(ng-controller='createNewDeviceController')

  .headed_device_list
    h1(align='center') Creating a new Device

  .form-group
    label.col-sm-2(for="device") title: 
    .col-sm-10
      input(type='text', class="form-control", id="device", placeholder="Enter title", ng-model='cndCtrl.device.title')
    .dfbfdbdbdf
    label.col-sm-2(for="events" class="form-control4") events: 
    .col-sm-10
      input(type='text', class="form-control", id="events", disabled, placeholder="Enter events", ng-model='cndCtrl.device.events')  
  br

  .button-div1(align='center')
    button(ng-click='cndCtrl.reset()') RESET
    button(ng-click='cndCtrl.addDevice()') SAVE
  .button-div2
    h3 Quantity device: {{ cndCtrl.devices.length }}
    button(ng-click='cndCtrl.toggleViewDevice()') hide/display DevicesList

  div(align='center', ng-show='cndCtrl.showDevicesList')
    b Search device:
    input(type='text', size='19', border='1', ng-model='cndCtrl.search')

  table.col-sm-12.table-responsive.table-hover(border='1', ng-show='cndCtrl.showDevicesList')
    thead
      tr
        th.col-sm-4 device title
        th.col-sm-6 events
        th.col-sm-1 change
        th.col-sm-1 delete
    tbody
      tr(ng-repeat='device in cndCtrl.devices | filter: cndCtrl.search')
        td
          input#inputDeviceTitle(class="form-control", ng-model='device.title')
        td  {{ device.events }}
        td(align='center')   
          button(class="btn btn-primary" class="btn btn-primary btn-xs" ng-click='cndCtrl.updateDevice(device)') save            
          //- a(ng-click='cndCtrl.updateDevice(device)') save
        td(align='center')  
          button(class="btn btn-warning" class="btn btn-primary btn-xs" ng-click='cndCtrl.deleteDevice(device, $index)') delete
          //- a(ng-click='cndCtrl.deleteDevice(device, $index)') delete 
