.device_list

    .device_list_header
        h1(align='center') Create a new device

        .form-group
            label.col-sm-2(for="device") Title:
            .col-sm-10
                input.form-control(type='text', id="device", placeholder="Enter title", ng-model='cndCtrl.device.title')
            label.col-sm-2.form-control4(for="description") Description:
            .col-sm-10
                input.form-control(type='text', id="description", placeholder="Enter description", ng-model='cndCtrl.device.description')

        .form-group
            .col-sm-offset-2.col-sm-10
                button.btn.btn-default.form-btn(ng-click='cndCtrl.reset()') Clear form
                button.btn.btn-primary.form-btn(ng-click='cndCtrl.addDevice()') Save
        .button-div2
            h4 Devices: {{ cndCtrl.devices.length }}
            .div_search
                span.glyphicon.glyphicon-search
                input(type='text', size='19', style="margin-left: 10px", ng-model='cndCtrl.search')
        br

    device_list_body(align='center')
        .content_for_device_list
            table.col-sm-12.table-responsive.table-hover.table.deviceTable(border='1')
                tr
                    th.col-sm-4 Title
                    th.col-sm-6 Description
                    th.col-sm-1 Edit
                    th.col-sm-1 Delete
                tr(ng-repeat='device in cndCtrl.devices | filter: cndCtrl.search')
                    td
                        input#inputDeviceTitle.form-control(ng-model='device.title')
                    td
                        input#inputDeviceDescription.form-control(ng-model='device.description')
                    td(align='center')
                        button.btn.btn-primary.btn-xs(ng-click='cndCtrl.updateDevice(device)') save
                        //- a(ng-click='cndCtrl.updateDevice(device)') save
                    td(align='center')
                        button.btn.btn-xs.btn-danger(ng-click='cndCtrl.deleteDevice(device, $index)') delete
                        //- a(ng-click='cndCtrl.deleteDevice(device, $index)') delete
