.modal-body.clearfix
	button.close(type='button' ng-click='tutorialCtrl.closeModal()') ×
	ul.nav.nav-tabs(role='tablist')
		li.active(role='presentation')
			a(href="#everything" aria-controls="everything" role="tab" data-toggle="tab")
				| Tutorial
	.tab-content
		.tab-pane.active(role="tabpanel" id="everything")
				.col-md-12
					.col-sm-2.pull-left
						button.btn.btn-block.btn-default(ng-click="tutorialCtrl.changeTextLeft()")
							span
								i.glyphicon.glyphicon-arrow-left
					.col-sm-2.pull-right
						button.btn.btn-block.btn-default(ng-click="tutorialCtrl.changeTextRight()")
							span
								i.glyphicon.glyphicon-arrow-right
				.col-md-12
					.col-md-12
						img.col-md-9.img-responsive(ng-src="../../javascripts/tutorial{{tutorialCtrl.tutorialTexts[tutorialCtrl.currentText].img}}")
						span.col-md-3(ng-model="tutorialCtrl.currentText") {{ tutorialCtrl.tutorialTexts[tutorialCtrl.currentText].text }}
						
.modal-footer
	.save-area
		.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4
			button.btn.btn-danger(type='submit' ng-click="tutorialCtrl.completeTutorial()") Never to show
			button.btn.btn-primary(ng-click="tutorialCtrl.closeModal()") Hide
