//- add your class depending on position and modify css
.date-picker(ng-show='datePickerCtrl.showDatePicker')
    .calendar.no-select
        .row.calendar-nav
            .calendar-nav-left.pointer(ng-click='datePickerCtrl.previousYear()')
                i.glyphicon.glyphicon-chevron-left
            .calendar-hdr
                | {{datePickerCtrl.calendar.year}}
            .calendar-nav-right.pointer(ng-click='datePickerCtrl.nextYear()')
                i.glyphicon.glyphicon-chevron-right
        .row.calendar-nav
            .calendar-nav-left.pointer(ng-click='datePickerCtrl.previousMonth()')
                i.glyphicon.glyphicon-chevron-left
            .calendar-hdr
                | {{datePickerCtrl.calendar.monthName}}
            .calendar-nav-right.pointer(ng-click='datePickerCtrl.nextMonth()')
                i.glyphicon.glyphicon-chevron-right
        .row
            div Sun
            div Mon
            div Tue
            div Wed
            div Thu
            div Fri
            div Sat
        .row
            .pointer(ng-repeat='day in datePickerCtrl.days track by $index', ng-click='datePickerCtrl.selectDate(day)') {{day}}