html
	head
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='./../javascripts/googleapi/googleAuth.js')
		//script(src='https://apis.google.com/js/client.js?onload=checkAuth')
	body
		#authorize-div
			span Authorize access to Google Calendar API
			// Button for the user to click to initiate auth sequence
			button#authorize-button(onclick='login()')
				| Authorize
		pre#output.
