html
	head
		script(src='./../javascripts/googleapi/googleAuth.js')
		//script(src='https://apis.google.com/js/client.js?onload=checkAuth')
	body
		#authorize-div
			span Authorize access to Google Calendar API
			button#authorize-button(onclick='login()')
				| Authorize
		pre#output.
