table.year-month-table
    tr
        td Mon
        td Tue
        td Wed
        td Thu
        td Fri
        td.dayoff Sat
        td.dayoff Sun
    tr(ng-repeat='week in weeks')
        td(ng-repeat='day in week track by $index', ng-attr-id='{{day.dayId}}', class='item ng-class: {"dayoff": day.dayOff, "day-now": day.timePeriod == 1, "day-past": day.timePeriod === 0}', ng-dblClick='showCloseModal(monthNum, day.dayDate)') {{day.dayDate}}
