div#year-content(ng-cloak).row
  div.row
    div.col-sm-12.col-md-12.col-lg-12
        div.year-carousel.center-block
            button.btn.btn-link(ng-click='YCtrl.yearDecrement()')
                span.glyphicon.glyphicon-menu-left
            div.current-year.text-center {{YCtrl.currentYear}}
            button.btn.btn-link(ng-click='YCtrl.yearIncrement()')
                span.glyphicon.glyphicon-menu-right

  div.row
    div.col-sm-12.col-md-12.col-lg-12
        div.month.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center#jan January
          div(calendar-directive month-num='0', calendar-obj='{{YCtrl.calendar}}')
        div.month.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center#feb February
          div(calendar-directive month-num='1', calendar-obj='{{YCtrl.calendar}}')
        div.month.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center#mar March
          div(calendar-directive month-num='2', calendar-obj='{{YCtrl.calendar}}')
        div.month.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center#apr April
          div(calendar-directive month-num='3', calendar-obj='{{YCtrl.calendar}}')
        div.month.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center#may May
          div(calendar-directive month-num='4', calendar-obj='{{YCtrl.calendar}}')
        div.month.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center#jun June
          div(calendar-directive month-num='5', calendar-obj='{{YCtrl.calendar}}')
        div.month.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center#jul July
          div(calendar-directive month-num='6', calendar-obj='{{YCtrl.calendar}}')
        div.month.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center#aug August
          div(calendar-directive month-num='7', calendar-obj='{{YCtrl.calendar}}')
        div.month.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center#sep September
          div(calendar-directive month-num='8', calendar-obj='{{YCtrl.calendar}}')
        div.month.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center#oct October
          div(calendar-directive month-num='9', calendar-obj='{{YCtrl.calendar}}')
        div.month.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center#nov November
          div(calendar-directive month-num='10', calendar-obj='{{YCtrl.calendar}}')
        div.month.col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center#dec December
          div(calendar-directive month-num='11', calendar-obj='{{YCtrl.calendar}}')
