.left-sidebar
  padding 0

.filters 
  padding-left 10px

.sidebar-nav .navbar ul 
  float none
  display block

.sidebar-nav .navbar li 
  float none
  display block

ul 
  list-style-type none
  padding 0