.eventType_list
  height: auto
  font-size: large

.eventType_list_header 
  background #EFEFEF
  font-size 16px
  font-weight normal  
  font-family Arial, sans-serif  

.form-group
  label.col-sm-1
    font-weight normal   

.div_search
  background #EFEFEF
  font-size 14px

.content_for_eventType_list
  height 400px
  overflow-y scroll

.eventTypeTable
  table-layout fixed
  text-align center
  width 100%
  #inputEventTypeTitle 
    border-collapse collapse
    background-color #FFFFFF
    border 0px
  td
    padding 2px 2px
    border-style solid
    border-width 1px
    border-color #ccc
  th
    font-size 16px
    font-weight normal
    padding 10px 5px
    border-style solid
    border-width 1px
    border-color #ccc
    background-color #E8E1E1
    text-align center
 