.products_list {
	background : #F2E21B;
	height: auto;
  // text-align: center;	
  font-size: large;

}
table.col-sm-12 {
	border-collapse: collapse;
	background: #b0e7e6;
}
// table.col-sm-12 caption {
// 	text-align: center;
// }


// .list1 {
// 	width: 70%;				
// }
