.device_list
  height: auto
  font-size: large

.device_list_header 
  background #EFEFEF
  font-size 16px
  font-weight normal  
  font-family Arial, sans-serif  

// .button-div1
  // margin-right 4px 
  // margin-top 4px
  // margin 4px
    
.form-btn
  margin-right 4px
  margin-top 4px

.button-div2
  padding-left 15px

.form-group
  label.col-sm-1
    font-weight normal   

.div_search
  background #EFEFEF
  font-size 14px

.content_for_device_list
  height 500px
  overflow-y auto

.deviceTable
  table-layout fixed
  text-align center
  width 100%
  #inputDeviceTitle 
    border-collapse collapse
    background-color #FFFFFF
    border 0px
  #inputDeviceDescription 
    border-collapse collapse
    background-color #FFFFFF
    border 0px
  td
    padding 2px 2px
    border-style solid
    border-width 1px
    border-color #ccc
  th
    font-size 16px
    font-weight normal
    padding 10px 5px
    border-style solid
    border-width 1px
    border-color #ccc
    background-color #E8E1E1
    text-align center
 