[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important

.right-sidebar
  padding 0

ul
  list-style-type none
  padding 0

.bigger-icon 
  font-size 20px

.eventInfo 
  padding 10px

#eventName, #eventDescription,#eventAuthor, #eventRoom, #eventParticipants 
  margin 5px 0

.table 
  table-layout fixed
  word-wrap break-word

.hourCell 
  width 15%

.eventCell 
  text-align center
  width auto

.day-event-blocks
  position absolute
  width 92%
  padding-left 15%
  background grey
  opacity 0.3
  box-sizing border-box
  border 1px solid black
  color white
  cursor pointer
  -webkit-transition: box-shadow 0.1s linear;
  -moz-transition: box-shadow 0.1s linear;
  -o-transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
  &:hover
    box-shadow 0 0 15px black
#day-events-place
  overflow hidden