[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
    display none !important

.main-content
    display relative

.right-sidebar
    padding 0

.content-for-day
    height 550px
    overflow-y scroll
    position relative

ul
    list-style-type none
    padding 0

.bigger-icon 
    font-size 1em
    color black

.right-sidebar > .row > ul > li > a:hover
    color #FFD604

.eventInfo 
    padding 10px

#eventName, #eventDescription,#eventAuthor, #eventRoom, #eventParticipants 
    margin 5px 0

.hourCell 
    width 5%
    background-color #f0f0f0
    border-style solid
    border-width 1px
    border-color #ccc

.eventCell
    text-align center
    width 85%
    position relative


.event-wrapper
    height 100%

.event
    background yellow
    position absolute
    top 0
    left 0
    z-index 1
    border-radius 5px
    padding 5px
    -webkit-box-shadow 0px 5px 3px 0px rgba(50, 50, 50, 0.62)
    -moz-box-shadow 0px 5px 3px 0px rgba(50, 50, 50, 0.62)
    box-shadow 0px 5px 3px 0px rgba(50, 50, 50, 0.62)

.working-hour
    background #D9EAF5

.table-responsive
    height 450px
    overflow-x auto
    overflow-y scroll
    -webkit-overflow-scrolling touch
    -ms-overflow-style -ms-autohiding-scrollbar
    border: 1px solid #ddd;
    border-right 0

.table-responsive > #calendar > tbody > tr:last-child > th,
.table-responsive > #calendar > tfoot > tr:last-child > th,
.table-responsive > #calendar > tbody > tr:last-child > td,
.table-responsive > #calendar > tfoot > tr:last-child > td
    border-bottom: 0;


.input-group
    margin-bottom 5px

.main-content
    padding 0

.day-header
    padding 5px 0
  
.current-day,
.day-prev,
.day-next
  font-size 2em

.current-day
  line-height 2em

.date-picker
    font-size 1em !important

.save-area
    text-align center