.calendar
    border-radius 2px
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    width 210px
    .row
        margin-left 0px
        div
            float left
            padding 2px
            width 30px
            text-align center
        .calendar-hdr
            padding 2px
            float left
            width 150px
            text-align center

.calendar-nav-left
    float left
    width 20px
    padding 2px

.calendar-nav-right
    float left
    width 20px
    padding 2px
    text-align right

.pointer
    cursor pointer

.date-picker
    position absolute
    background-color #ccc
    z-index 9999