.calendar
    border 1px solid #555
    width 238px
    .row
        margin-left 0px
    div
        float left
        padding 2px
        width 30px
        text-align center
    .calendar-hdr
        padding 2px
        float left
        width 166px
        text-align center

.calendar-nav-left
    float left
    width 20px
    padding 2px

.calendar-nav-right
    float left
    width 20px
    padding 2px
    text-align right

.pointer
    cursor pointer

.date-picker
    position absolute
    top -7px
    left 209px
    background-color #272b30