.events-search-bar, .events-list
	font-family 'Geneva', sans-serif

	#radio-group
		height 200px
		width 90%
		margin auto
		border 1px solid #DEDEDE
		border-radius 4px
		padding 10px 5px
		h2
			text-align center
	#events-search-field
		h2
			text-align center
	#event-table
		a
			text-decoration none
			font-family 'Geneva', sans-serif
			&:hover
				text-decoration underline
		.event-date-cell, .event-duration-cell
			width 20%
			text-align center
		.event-description-cell
			width 60%