/* Time indicator directive styles */
#time-indicator
	background red
	width 100%
	height 1px
	position absolute
	z-index 1
	
#time-indicator > i.glyphicon
	color red
	position absolute
	top -7px
	left -2px