.week_header
  text-align center
  padding-top 10px

  .week_prev
  	float left !important
  	font-size 18px

  .week_next
  	float right !important
  	font-size 18px  		

  .week_header_title
    font-size 32px


.content_for_week
	height 500px
	overflow-y scroll


.week_in_table
  table-layout fixed
  text-align center
  width 100%

  .header
  	width 9%

  .days
  	width 13%
  	span 7

  td
    padding 10px 5px
    border-style solid
    border-width 1px
    border-color #ccc

  th
    font-size 16px
    font-weight normal
    padding 10px 5px
    border-style solid
    border-width 1px
    border-color #ccc
    background-color #f0f0f0
    text-align center
