.eventType_list(ng-controller='createNewEventTypeController')

  .eventType_list_header
    h1(align='center') Create a new event type

    .form-group
      label.col-sm-1(for="eventType") title: 
      .col-sm-11
        input(type='text', class="form-control", id="eventType", placeholder="Enter title", ng-model='cnetCtrl.eventType.title')


    .button-div1(align='center')
      button(ng-click='cnetCtrl.reset()' class="btn btn-warning") Reset form
      button(ng-click='cnetCtrl.addEventType()' class='btn btn-info') Save
    .button-div2
      h4 Event types: {{ cnetCtrl.eventTypes.length }}.
      button(ng-click='cnetCtrl.toggleViewEventType()') Display/hide all event types
    br


  device_list_body(align='center', ng-show='cnetCtrl.showEventTypesList')
    .div_search
      b Search type:
      input(type='text', size='19', border='1', ng-model='cnetCtrl.search')

    .content_for_eventType_list
      table.col-sm-12.table-responsive.table-hover.table.eventTypeTable(border='1', ng-show='cnetCtrl.showEventTypesList')
        tr
          th.col-sm-10 type for event
          //th.col-sm-6 events
          th.col-sm-1 change
          th.col-sm-1 delete
        tr(ng-repeat='eventType in cnetCtrl.eventTypes | filter: cnetCtrl.search')
          td
            input#inputEventTypeTitle(class="form-control", ng-model='eventType.title')
          //td  {{ eventType.events }}
          td(align='center')   
            button(class="btn btn-info btn-xs" ng-click='cnetCtrl.updateEventType(eventType)') save            
          td(align='center')  
            button(class="btn btn-primary btn-xs btn-danger" ng-click='cnetCtrl.deleteEventType(eventType, $index)') delete
